body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*navigation bar styling*/
header {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 100px;
}

.logo {
    color: black;
    font-size: 1em;
    font-style: italic;
    cursor: default;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
}

.navbar a:hover,
.navbar a.active{
    background: lightblue;
}

/* Home section styling */

.home-section h2 {
    text-align: center;
    margin-bottom: 10vh;
}

.home-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 200px;

}

.home-div .image img {
    width: 150%;
    height: auto;
  }

.home-div .paragraph p {
    width: 35%;
    margin-left: 200px;
}

/* background img styling */
body {
    background-image: url("https://images.unsplash.com/photo-1503924087716-07cbd5f49b21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

/* comment section styling */
  .pfpimage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  
/* footer styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: black;
    padding: 4rem 0 4rem 0;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #F9423D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #337AF1;
    transition: all 0.4s ease-out;
}